@import '../../styles/shared';

/* Center and max-width the content */
.WkndPage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
    padding: 0;
    float: unset !important; 
    animation-duration: .35s;
  }

  .PageEventInfo {

    @include media(tablet, desktop) {
      padding-top: $eventinfo-height;
    }
    
    
  }
  