@import './styles/shared';

.App {
    @include content-area();
    background-color: $color-white;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;

    @include media(desktop) {
        /*min-height: calc(100vh - #{$header-height-big + $gutter-padding});*/
    }
}